<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="{{url_for('static', filename="./img/img-bot.ico")}}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename="./css/reset.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename="./css/nav.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename="./css/card_product.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename="./css/btn-now.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename="./css/card-msg.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename="./css/card-servico.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename="./css/instrucoes.css")}}">
</head>
<body>
    <nav class="nav-bar">
        <h1 class="title">bot-whatsapp</h1>
    </nav>
    <div class="card_product">
        <img src="{{url_for('static', filename="./img/img-bot.svg")}}" alt="img bot whatsapp">
        <div class="title_card">
            <h2>Whatsapp bot</h2>
            <img src="{{url_for('static', filename="./img/star.png")}}"  alt="img stars" >
        </div>
        <p class="frase">the best!!!</p>
    </div>
    <div class="btn-now">
        <button class="btn">star now</button>
    </div>
    <div class="card-msg">
        <div class="ponta"></div>
        <div class="body-msg">
            <p>
                Revolucione o atendimento com o zks-bot! Automatize respostas, otimize processos e aumente a eficiência do seu negócio. Rápido, simples e feito para você. Invista em tecnologia que trabalha por você! 🤖
            </p>
        </div>
    </div>
    <div class="card-servico">
        <div class="card-servico-info">
            <a href="#instrucoes">
                <img src="{{url_for('static', filename="./img/whatsapp-business-34.png")}}" alt="whatsapp-business" class="img-card">
            </a>
            <img src="{{url_for('static', filename="./img/img-seta.svg")}}" alt="img-seta" class="seta">
            <p>intrunsçõe de compra</p>
        </div>
        <div class="card-servico-info">
            <a href="#">
                <img src="{{url_for('static', filename="./img/sobre-orcamento.png")}}" alt="whatsapp-business" class="img-card">
            </a>
            <img src="{{url_for('static', filename="./img/img-seta.svg")}}" alt="img-seta" class="seta">
            <p>valores e planos</p>
        </div>
        <div class="card-servico-info">
            <a href="/adm">
                <img src="{{url_for('static', filename="./img/bot-ver o meu.png")}}" alt="whatsapp-business" class="img-card">
            </a>
            <img src="{{url_for('static', filename="./img/img-seta.svg")}}" alt="img-seta" class="seta">
            <p>Conferir seu bot </p>
        </div>
    </div>
    <div class="instrucoes" id="instrucoes">
        <h3>Instruções de Compra:</h3>
    <ol>
        <li>
            Clique no botão "Start Now":
            <ul>
                <li>Inicie uma consulta com nossos atendentes para dar o primeiro passo.</li>
            </ul>
        </li>
        <li>
            Documentação Necessária:
            <ul>
                <li>Esteja preparado para fornecer uma série de documentos, como:</li>
                <ul>
                    <li>Documento de identidade (RG ou CNH)</li>
                    <li>CPF</li>
                    <li>Outros documentos específicos solicitados pelos atendentes</li>
                </ul>
            </ul>
        </li>
        <li>
            Processo de Aprovação:
            <ul>
                <li>Tenha em mente que a aprovação do seu número requer tempo e não acontece de forma imediata.</li>
                <li>A equipe realizará uma verificação detalhada para garantir a segurança e a conformidade.</li>
            </ul>
        </li>
        <li>
            Acompanhamento:
            <ul>
                <li>Após o envio dos documentos, você receberá atualizações sobre o status da sua solicitação.</li>
                <li>Caso tenha dúvidas, não hesite em entrar em contato com nossos atendentes.</li>
            </ul>
        </li>
        <li>
            Agradecimento:
            <ul>
                <li>Agradecemos pela sua paciência e confiança em nossos serviços!</li>
            </ul>
        </li>
    </ol>
    </div>
</body>
</html>